name: Tests
on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      static-analysis:
        description: Whether to run `make static-analysis`
        required: true
        type: boolean
        default: true
      unit-tests:
        description: Whether to run `make check-unit`
        required: true
        type: boolean
        default: true
      coverage:
        description: Whether to enable Go coverage collection
        required: true
        type: boolean
        default: false
      ubuntu-releases:
        description: Ubuntu releases to run the tests against. In JSON format, i.e. '["22.04", "24.04"]'.
        type: choice
        default: '["24.04"]'
        options:
          - '["22.04", "24.04"]'
          - '["22.04"]'
          - '["24.04"]'
      snap-risk:
        description: Snap risk level, `edge`, `candidate` or `stable`
        type: choice
        default: 'edge'
        options:
          - 'edge'
          - 'candidate'
          - 'stable'
      tmate-debug:
        description: Use tmate debugging session on integration test failure.
        type: boolean
        default: false
  schedule:
    - cron: '0 0 * * *'  # Test TICS daily

env:
  LXD_REQUIRED_TESTS: "storage_buckets,network_ovn"
  GOCOVERAGE: ${{ (( github.event_name == 'workflow_dispatch' && github.event.inputs.coverage == 'true' ) || ( github.event_name == 'schedule' && github.repository == 'canonical/lxd' )) && 'true' || 'false' }}
  GOCOVERDIR: ''  # Later set to the fully qualified path if needed
  IMAGE_CACHE_DIR: "/home/runner/image-cache"
  SNAP_CACHE_DIR: "/home/runner/snap-cache"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    # Make sure bash is always invoked with `-eo pipefail`
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsshell
    shell: bash

jobs:
  code-tests:
    env:
      CGO_CFLAGS: "-I/home/runner/go/bin/dqlite/include/ -I/home/runner/go/bin/liblxc/include/"
      CGO_LDFLAGS: "-L/home/runner/go/bin/dqlite/libs/"
      LD_LIBRARY_PATH: "/home/runner/go/bin/dqlite/libs/"
      LD_RUN_PATH: "/home/runner/go/bin/dqlite/libs/"
      CGO_LDFLAGS_ALLOW: "(-Wl,-wrap,pthread_create)|(-Wl,-z,now)"
    if: ${{ github.event_name != 'schedule' || github.repository == 'canonical/lxd' }}
    name: Code
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # A non-shallow clone is needed for the Differential ShellCheck
          fetch-depth: 0
          persist-credentials: false

      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        if: github.event_name == 'pull_request'

      - name: Upload artifact with ShellCheck defects in SARIF format
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Differential ShellCheck SARIF
          path: ${{ steps.ShellCheck.outputs.sarif }}
          retention-days: 1
        if: ${{ github.event_name == 'pull_request' && runner.debug == '1' && !cancelled() }}

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Install Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        if: github.event_name != 'pull_request'
        with:
          cache: 'pip' # caching pip dependencies
          cache-dependency-path: |
            doc/requirements.txt
            doc/conf.py
          python-version: '3.x'  # satisfied by any 3.x version already installed

      - name: Install build dependencies
        uses: ./.github/actions/install-lxd-builddeps

      - name: Download go dependencies
        run: |
          set -eux
          sudo chmod o+w {go.mod,go.sum}
          go mod download

          # Check compatibility with min Go version
          make check-gomin

      - name: Make LXD tarball and unpack it
        env:
          CUSTOM_VERSION: "test"
        run: |
          set -eux
          make dist
          tar -xzf lxd-test.tar.gz -C /home/runner/work/lxd/
          rm lxd-test.tar.gz

      # In code-tests, this action warms the cache for the system-tests job
      - name: Build or restore dqlite/liblxc dependencies
        uses: ./.github/actions/cache-dqlite-liblxc

      - name: Update env variables for deps
        run: |
          set -eux
          LIBLXC_ARCH_LIBS="$(readlink -e /home/runner/go/bin/liblxc/libs/*-linux-gnu)"

          echo "CGO_LDFLAGS=${CGO_LDFLAGS} -L${LIBLXC_ARCH_LIBS}"       >> "${GITHUB_ENV}"
          echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${LIBLXC_ARCH_LIBS}" >> "${GITHUB_ENV}"
          echo "LD_RUN_PATH=${LD_RUN_PATH}:${LIBLXC_ARCH_LIBS}"         >> "${GITHUB_ENV}"
          echo "PKG_CONFIG_PATH=${LIBLXC_ARCH_LIBS}/pkgconfig"          >> "${GITHUB_ENV}"

      - name: Build binaries
        run: |
          set -eux

          # Build from unpacked dist tarball.
          cd /home/runner/work/lxd/lxd-test
          make

      - name: Prime cache with external test images
        uses: ./.github/actions/download-images
        with:
          prime-cache-only: true
          image-cache-dir: ${{ env.IMAGE_CACHE_DIR }}

      - name: Prime cache with snap dependencies
        uses: ./.github/actions/download-snaps
        with:
          prime-cache-only: true
          snap-cache-dir: ${{ env.SNAP_CACHE_DIR }}

      - name: Prime cache with minio/mc
        uses: ./.github/actions/download-minio
        with:
          prime-cache-only: true

      - name: Upload system test dependencies
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: system-test-deps
          path: |
            /home/runner/go/bin/devlxd-client
            /home/runner/go/bin/fuidshift
            /home/runner/go/bin/lxc
            /home/runner/go/bin/lxd
            /home/runner/go/bin/lxd-agent
            /home/runner/go/bin/lxd-benchmark
            /home/runner/go/bin/lxd-client
            /home/runner/go/bin/lxd-migrate
            /home/runner/go/bin/lxd-user
            /home/runner/go/bin/mini-oidc
            /home/runner/go/bin/sysinfo
          retention-days: 1

  system-tests:
    env:
      LXD_CEPH_CLUSTER: "ceph"
      LXD_CEPH_CEPHFS: "cephfs"
      LXD_CEPH_CEPHOBJECT_RADOSGW: "http://127.0.0.1"
      LXD_OVN_NB_CONNECTION: "ssl:127.0.0.1:6641"
      LXD_OVN_NB_CLIENT_CRT_FILE: "/var/snap/microovn/common/data/pki/client-cert.pem"
      LXD_OVN_NB_CLIENT_KEY_FILE: "/var/snap/microovn/common/data/pki/client-privkey.pem"
      LXD_OVN_NB_CA_CRT_FILE: "/var/snap/microovn/common/data/pki/cacert.pem"
      LXD_VERBOSE: "1"
      LXD_OFFLINE: "1"
      LXD_TMPFS: "1"
      GOTRACEBACK: "crash"
    if: ${{ github.event_name != 'schedule' || github.repository == 'canonical/lxd' }}
    name: System
    runs-on: ubuntu-24.04
    needs: code-tests
    strategy:
      fail-fast: false
      matrix:
        suite: ["live_migration_cluster"]
        backend: ["ceph"]

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Tune disk performance
        uses: ./.github/actions/tune-disk-performance

      - name: Reclaim some memory
        uses: ./.github/actions/reclaim-memory

      - name: Remove docker
        uses: ./.github/actions/disable-docker

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Install runtime dependencies
        uses: ./.github/actions/install-lxd-runtimedeps

      # Restore the cache warmed in code-tests job
      - name: Build or restore dqlite/liblxc dependencies
        uses: ./.github/actions/cache-dqlite-liblxc

      # Restore the cache warmed in code-tests job
      - name: Download external test images
        uses: ./.github/actions/download-images
        with:
          image-cache-dir: ${{ env.IMAGE_CACHE_DIR }}

      # Restore the cache warmed in code-tests job
      - name: Download snap dependencies
        uses: ./.github/actions/download-snaps
        with:
          snap-cache-dir: ${{ env.SNAP_CACHE_DIR }}

      # Restore the cache warmed in code-tests job
      - name: Download minio/mc
        uses: ./.github/actions/download-minio

      - name: Download system test dependencies
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: system-test-deps
          merge-multiple: true
          path: /home/runner/go/bin

      - name: Set exec perms on LXD binaries
        run: |
          set -eux
          ls -lR /home/runner/go/bin/
          chmod uog+x /home/runner/go/bin/*

      - name: Setup MicroCeph
        if: ${{ matrix.backend == 'ceph' }}
        uses: ./.github/actions/setup-microceph
        with:
          osd-count: 3
          snap-cache-dir: ${{ env.SNAP_CACHE_DIR }}

      - name: Setup MicroOVN
        uses: ./.github/actions/setup-microovn
        with:
          snap-cache-dir: ${{ env.SNAP_CACHE_DIR }}

      - name: Sanitize Artifact Name
        id: sanitize
        env:
          ID: ${{ matrix.suite }}-${{ matrix.backend }}
        run: |
          set -eux
          echo "artifact_name=$(echo "${ID}" | tr ': /' '-_-')" >> "${GITHUB_OUTPUT}"

      - name: "Run system tests (${{ matrix.suite }}, ${{ matrix.backend }})"
        run: |
          set -eux
          chmod +x ~
          echo "root:1000000:1000000000" | sudo tee /etc/subuid /etc/subgid
          cd test
          export PATH="$PATH:/snap/microovn/current/commands"

          # Check if there are existing coredumps
          if [ -n "$(ls -A /var/crash/)" ]; then
            echo "WARNING: coredumps found before running the system tests, removing them"
            sudo rm /var/crash/*
          fi

          sudo --preserve-env=PATH,GOPATH,GOCOVERDIR,GITHUB_ACTIONS,GITHUB_STEP_SUMMARY,LXD_VERBOSE,LXD_REPEAT_TESTS,LXD_BACKEND,LXD_CEPH_CLUSTER,LXD_CEPH_CEPHFS,LXD_CEPH_CEPHOBJECT_RADOSGW,LXD_OVN_NB_CONNECTION,LXD_OVN_NB_CLIENT_CRT_FILE,LXD_OVN_NB_CLIENT_KEY_FILE,LXD_OVN_NB_CA_CRT_FILE,LXD_OFFLINE,LXD_SKIP_TESTS,LXD_REQUIRED_TESTS,GOTRACEBACK,LXD_TMPFS LXD_BACKEND=${{ matrix.backend }} ./main.sh ${{ matrix.suite }}

      - name: Tmate debugging session
        if: ${{ failure() && inputs.tmate-debug }}
        timeout-minutes: 30
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
        with:
          # Never allow public SSH access
          limit-access-to-actor: true
